{% extends "base.html" %}

{% block title %}

<title>Public Photos</title>

{% endblock %}

{% block content %}
<div class="jumbotron">
      <div class="container">
        <h3>
          We <span>collect and curate</span><br> images from google, <br>powered by the SourceShot user community.
        </h3>
      </div>
    </div>

    <div class="banner">
      <div class="container">
        <h3>
          The Bottom Line.
        </h3>
        <p>
          We deliver google.
        </p>
      </div>
    </div>

    <div class="cards">
      <div class="container">
        <h4>
          Our Community Shots.
        </h4>
        <div class='Row'>
          <div class='col-md-4'>
            </div>
          <div class='col-md-4'>
            {% for photo in photos %}
            <p>
            {{ photo.description }}
            <a href="{{ photo.image_file.url }}">
            <img src="{{ photo.image_file.url }}" width="100px" height="100px"></a>
            </p>
            {% endfor %}
            </div>
          <div class='col-md-4'>
             </div>
        </div>
      </div>
    </div>
{% endblock %}
